li{
    list-style-type: none;
    position: relative;
    margin: 2px;
    padding: 0.5em  0.5em  0.5em 2em;
    background: lightgray;
    font-family: sans-serif;

}

li.done{
    background: #ccff99;
}



